.flip-animation {
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .flip-animation.flipped .front {
    transform: rotateY(180deg);
  }
  
  .flip-animation.flipped .back {
    transform: rotateY(0deg);
  }
  /*transform 1.75s*/
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1.5s; 
    transform-style: preserve-3d;
    cursor: pointer;
    background-color: #EBEDFF;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}


.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}
.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    background-color: #FFF;
    object-fit: cover;
}

/* heart smooth transition */
.heart-icon {
    transition: transform 0.3s ease-in-out; /* Example transition */
  }
  
  /* .heart-icon:hover {
    transform: scale(1.2); /* Example transformation */

    .heart-scale-effect {
        transform: scale(1.25);
        transition: transform 0.35s ease-in-out infinite;
        
    }
    


  