/* .flip-animation {
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .flip-animation.flipped .front {
    transform: rotateY(180deg);
  }
  
  .flip-animation.flipped .back {
    transform: rotateY(0deg);
  }
  /*transform 1.75s
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1.5s; 
    transform-style: preserve-3d;
    cursor: pointer;
    background-color: #EBEDFF;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}


.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}
.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    background-color: #FFF;
    object-fit: cover;
}

/* heart smooth transition 
.heart-icon {
    transition: transform 0.3s ease-in-out; /* Example transition 
  }
  
  /* .heart-icon:hover {
    transform: scale(1.2); /* Example transformation 

    .heart-scale-effect {
        transform: scale(1.25);
        transition: transform 0.35s ease-in-out infinite;
        
    }
    


   */


   .contain {
    display: flex;
    justify-content: center;
 
    margin: auto;
}
 
.flip-card {
    perspective: 1000px;
    width: 39rem;
    height: 24.5rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}
 
.flip-card.flipped {
    transform: rotateY(180deg);
}
 
.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
 
.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
 
.flip-card-front {
    background-color: #EBEDFF;
    /* color: #EBEDFF; */
}
 
.flip-card-back {
    background-color: #EBEDFF;
    /* color: blue; */
    transform: rotateY(180deg);
}
 
.card-content {
    padding: 20px;
    text-align: center;
}
.scrollable-p {
  max-width: 36rem; /* Set maximum width */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) to indicate truncated text */
  white-space: nowrap; /* Prevent text wrapping */
  cursor: pointer; /* Add pointer cursor for indicating clickable element */
}

.scrollable-p.expanded {
  white-space: normal; /* Revert to normal white-space for displaying full content */
}

.cube-container {
  width: 74rem;
    height: 24.5rem;
  position: relative;
  perspective: 100rem;

}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.cube-face {
  width: 30rem;
    height: 24.5rem;
  position: absolute;
  
}

.cube-face-front {
  width: 39rem;
  height: 24.5rem;
position: absolute;
  transform: rotateY(0deg) translateZ(10rem) translateX(0rem);
  transition: transform 1s;
}

.cube-face-front.movel{
  transform: rotateY(-27.5deg) translateZ(10rem) translateX(-33.5rem);
  transition: transform 1s;
}

.cube-face-front.mover{
  transform: rotateY(27.5deg) translateZ(10rem) translateX(33.5rem);
  transition: transform 1s;
}

.cube-face-right {
  background-color: #F6F8FF;
  transform: rotateY(27.5deg) translateZ(10rem) translateX(33.5rem);
  transition: transform 1s;
}
@keyframes rotateFromBackleft {
  0% {
    transform: rotateY(180deg) translateZ(10rem) translateX(33.5rem);
  }
  100% {
    transform: rotateY(27.5deg) translateZ(10rem) translateX(33.5rem);
  }
}


@keyframes rotateFromBackright {
  0% {
    transform: rotateY(-180deg) translateZ(10rem) translateX(-33.5rem);
  }
  100% {
    transform: rotateY(-27.5deg) translateZ(10rem) translateX(-33.5rem);
  }
}

.cube-face-left {
  background-color: #F6F8FF;
  transform: rotateY(-27.5deg) translateZ(10rem) translateX(-33.5rem);
  transition: transform 1s;
}

.cube-face-left.movec {
  background-color: #F6F8FF;
  transform: rotateY(0deg) translateZ(10rem) translateX(0rem);
  transition: transform 1s;
}

.cube-face-left.mover {
  /* background-color: #F6F8FF;
  transform: rotateY(27.5deg) translateZ(10rem) translateX(33.5rem);
  transform-origin: center;
  transition: transform 1s; */
  
    animation: rotateFromBackleft 1s forwards;
}

.cube-face-right.movel {
  animation: rotateFromBackright 1s forwards;
}


.cube-face-right.movec {
  background-color: #F6F8FF;
  transform: rotateY(0deg) translateZ(10rem) translateX(0rem);
  transition: transform 1s;
}

